<section>
  <aside id="leftsidebar" class="sidebar">
   <div class="user-info">
     <div class="image">
      <img src="assets/images/user.png" width="48" height="48" alt="user" />
     </div>
     <div class="info-container">
       <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hajjej Farouk</div>
       <div class="email">farouk.hajjej@esprit.tn</div>
     </div>
   </div>
    <div class="menu">
      <ul class="list">
        <li class="header">Main Navigation</li>
        <li class="active">
          <a [routerLink]="['/home/dashboard']">
            <i class="material-icons">home </i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="active">
          <a [routerLink]="['/home/listuser']">
            <i class="material-icons">widgets</i>
            <span>Liste users</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="legal">
      <div class="copyright">
        COPYRIGHT &copy; Hajjej Farouk
      </div>
    </div>
  </aside>
</section>
